/*? ------------------------------- Bestsellers ------------------------------- */
.bestsellers {
  margin-top: 64px;
}
.bestsellers-title {
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 21px;
}
.bestseller-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.bestseller-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.bestsellers-card {
  margin: 0 auto;
}
.product {
  margin-bottom: 14px;
  align-items: center;
}
.bestsellers-txt {
  text-align: left;
  margin-bottom: 10px;
}
.bestsellers-price {
  font-weight: 700;
  text-align: left;
}
/* .mobile-hide {
  display: none;
} */

/*? ------------------------ MEDIA ------------------------ */
@media screen and (max-width: 767px) {
  .bestsellers-card.mobile-hide {
    display: none;
  }
}
/* Tablet */
@media screen and (min-width: 768px) {
  .bestsellers {
    margin-top: 100px;
  }

  .bestsellers-title {
    font-size: 32px;
  }

  .bestsellers-title {
    margin-bottom: 30px;
  }
  .product {
    margin-bottom: 15px;
  }
  .bestsellers-txt {
    margin-bottom: 10px;
  }
  .bestsellers-txt {
    font-size: 18px;
  }
  /* .sec-pic {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: center;
  } */

  .sec-img {
    width: 336px;
    max-width: 336px;
    height: auto;
    /* display: flex; */
  }

  /* .mobile-hide {
    display: block;
  } */
  /* .large-img {
    min-width: 704;
  } */
}
/* Desktop */
@media screen and (min-width: 1440px) {
  .bestsellers {
    margin-top: 100px;
  }
  .bestsellers-title {
    font-size: 32px;
  }
  .bestsellers-title {
    margin-bottom: 30px;
  }
  .product {
    margin-bottom: 15px;
  }
  .bestsellers-txt {
    margin-bottom: 10px;
  }
  .bestsellers-txt {
    font-size: 18px;
  }
  .mobile-hide {
    display: block;
  }
  .sec-img {
    width: 258px;
    max-width: 258px;
    height: auto;
  }
  /* .sec-pic {
    display: flex;
    flex-wrap: wrap;
  } */
  .bestseller-list {
    gap: 24px;
  }
  .container-for-img {
    display: flex;
    flex-wrap: wrap;
  }
}
