/*? ------------------------------- Clients Reviews ------------------------------- */

.clients-reviews {
  background: var(--color-light-blue);
  padding-top: 36px;
  padding-bottom: 36px;
}

.reviews-title {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}

.review-info {
  padding-left: 14px;
}

.review-item {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 23px 24px 24px;
  background: var(--color-white);
  border-radius: 8px;
  max-width: 344px;
  height: auto;
}

.client-name {
  color: var(--color-blue);
  font-size: 18px;
  line-height: 1.7;
  text-transform: uppercase;
}

.client-week-age {
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.2;
  margin-top: 2px;
}

.client-img {
  display: block;
}

.reviews-comment {
  margin-top: 24px;
  font-size: 14px;
  line-height: 1.4;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .review-item {
    padding: 24px;
  }

  .client-img {
    display: block;
    width: 56px;
    height: 56px;
  }

  .client-name {
    font-size: 20px;
  }

  .client-week-age {
    font-size: 16px;
    margin-top: 4px;
  }

  .reviews-comment {
    margin-top: 14px;
    font-size: 18px;
    line-height: 1.5;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .clients-reviews {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .reviews-title {
    flex-direction: row;
  }

  .review-item {
    padding: 32px;
  }

  .reviews-comment {
    margin-top: 16px;
    font-size: 18px;
    line-height: 1.5;
  }

  .review-item {
    max-width: 424px;
  }

  .reviews-block {
    gap: 24px;
  }
}