/*? ------------------------------- Footer ------------------------------- */

.f-link {
    text-decoration: none;
    cursor: pointer;
    transition: color var(--transition-time) var(--transition-function);
}

.f-link:hover,
.f-link:focus {
    color: var(--color-dark-grey);
}

.f-list {
    list-style-type: none;
}

.footer {
    background-color: var(--color-blue);
}

.footer-whole-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 36px;
}

.footer-first-block {
    display: flex;
    flex-direction: column;
    gap: 36px;

}

.footer-logo-link {
    display: flex;
    padding: 6px 0;
}


.footer-logo-svg {
    fill: var(--color-white);
    transition: fill var(--transition-time) var(--transition-function);
}

.footer-logo-svg:hover,
.footer-logo-svg:focus {
    fill: var(--color-grey);
}


.footer-block-container {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.footer-block {
    height: 28px;
    width: 28px;
}

.footer-block-link {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.footer-icon {
    fill: var(--color-white);
    transition: fill var(--transition-time) var(--transition-function);

}

.footer-icon:hover,
.footer-icon:focus {
    fill: var(--color-grey);
}


.footer-menu {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
}

.footer-menu-item {
    color: var(--color-white);
    font-style: normal;

}


.footer-address-list {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
}

.footer-address-item {
    color: var(--color-white);
    font-style: normal;
}

.footer-time-detail {
    color: var(--color-white);
    font-style: normal;
}


.footer-contacts-list {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
}

.footer-contacts-item {
    color: var(--color-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.footer-contacts-email {
    color: var(--color-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    display: none;
}


.footer-privacy {
    margin-top: 64px;
    padding-bottom: 16px;
    color: var(--color-white);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.1em;
    opacity: 0.6;
}

.terms-privacy-link {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .footer-container {
        max-width: 734px;
    }

    .footer-first-block {
        display: flex;
        width: 548px;
        height: 310px;
        flex-wrap: wrap;
        gap: 32px;
    }

    .footer-logo-link {
        width: 128px;
        height: 18px;
        padding: 0;
    }

    .footer-logo-svg {
        width: 128px;
        height: 18px;
    }

    .footer-nav-list {
        order: 1;
    }

    .footer-menu {
        gap: 16px;
        padding: 8px;
    }

    .footer-menu-item {
        font-size: 18px;
        height: 27px;
    }

    .footer-address-list {
        gap: 24px;
    }

    .footer-address-link {
        height: 22px;
    }

    .footer-address-item {
        font-size: 19px;
        height: 22px;
    }

    .footer-time-detail {
        font-size: 19px;
        height: 22px;
    }

    .footer-contacts-list {
        gap: 24px;
        padding-top: 32px;
    }

    .footer-contacts-email {
        display: block;
        font-size: 19px;
        height: 22px;
    }

    .footer-contacts-item {
        font-size: 19px;
    }

    .footer-block-container {
        gap: 16px;
    }

    .footer-block {
        width: 40px;
        height: 40px;
    }

    .footer-icon {
        width: 40px;
        height: 40px;
    }

    .footer-privacy {
        padding-bottom: 36px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.07em;
    }
}

@media screen and (min-width: 1440px) {
    .footer-container {
        max-width: 1380px;
    }

    .footer-first-block {
        display: flex;
        width: 854px;
        height: 128px;
        flex-wrap: wrap;
        gap: 0 87px;
        justify-content: space-between;
    }

    .footer-logo {
        padding-top: 12px;
    }

    .footer-menu {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .footer-contacts-info {
        order: 1;
    }

    .footer-contacts-list {
        display: flex;
        gap: 24px 82px;
        flex-wrap: wrap;
        height: 68px;
        padding: 0;
    }

    .footer-contacts-item {
        height: 22px;
    }

    .footer-privacy {
        margin-top: 36px;
    }

    .footer-block-container {
        gap: 30px;
    }
}