/*? ------------------------------- Footer ------------------------------- */

.link {
    text-decoration: none; 
}

.list {
    list-style-type: none;
}
.footer {
    background-color: var(--color-blue);
}
.footer-container{
    width: 100%;
    /* width: var(--mobile-container-width); */
    padding: 0 15px;
}
.footer-whole-content{
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    padding-top: 36px;
}
.footer-first-block{
    display: flex;
    flex-direction: column;
    gap:36px;
    
}
.footer-logo {
    display: flex;
}

.footer-logo-link {

}

.footer-logo-svg {
    fill: var(--color-white);
}

.footer-media {

}

.footer-block-container {
    display: flex;
    gap: 16px;
    right: 16px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.footer-block {
    height: 28px;
    width: 28px;
}
.footer-block-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon {
    fill: var(--color-white);
}



.footer-navigation {
    
}

.footer-menu {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
}

.footer-menu-item {
    color: var(--color-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;

}

.footer-menu-link {

}


.footer-address-list {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
}

.footer-address-item {
    color: var(--color-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.footer-time-detail{
    color: var(--color-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}


.footer-contacts-info {}

.footer-contacts-list {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
}

.footer-contacts-item {
    color: var(--color-white);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
}
.footer-contacts-email{
    color: var(--color-white);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        display: none;
}

.footer-contacts-itemm {}



.footer-privacy {
    padding-top: 64px;
    padding-bottom: 16px;
    color: var(--color-white);
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.16;
        letter-spacing: 0.1em;
        opacity: 0.6;
}

.terms-privacy-link {
    text-decoration: underline;
}

@media screen and (min-width: 734px) {
    .footer-container {
        max-width: 734px;
        padding: 0 30px;
    }

    .footer-first-block{
        display: flex;
        width: 518px;
        height: 308px;
        flex-wrap: wrap;
        column-gap: 120px;
        gap: 32px;
    }

    .footer-logo-link{
        width: 128px;
        height: 16px;

    }
    .footer-logo-svg{
        width: 128px;
        height: 16px;
    }
    .footer-nav-list {
        order: 1;
    }
    .footer-menu{
        gap:16px;
        padding: 8px;
    }
    .footer-menu-item{
        font-size: 18px;
        height: 27px;
    }
    .footer-address-list{
        gap:24px;
    }
    .footer-address-link{
        height: 22px;
    }
    .footer-address-item{
        font-size: 19px;
        height: 22px;
    }
    .footer-time-detail{
        font-size: 19px;
        height: 22px;
    }
    .footer-contacts-list{
        gap:24px;
        padding-top: 32px;
    }

    .footer-contacts-email{
        display: flex;
        align-items: center;
        font-size: 19px;
        height: 22px;
    }
    .footer-contacts-item{
        font-size: 19px;
    }
    .footer-block-container{
        gap:16px;
    }
    .footer-block   {
        width: 40px;
        height: 40px;
    }
    .footer-icon{
        width: 40px;
        height: 40px;
    }

    .footer-privacy{
        padding-bottom: 36px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.07em;
    }
}
