.header {
  position: sticky;
  top: 0;
  background-color: var(--color-light-blue);
  width: 100%;
  z-index: 5;
  padding: 28px 0;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  fill: var(--color-blue);
}

.logo-icon {
  margin-right: 8px;
}

.header-navigation-menu {
  display: none;
}

.close-menu-icon,
.open-menu-icon {
  stroke: var(--color-blue);
  transition: stroke var(--transition-time) var(--transition-function);
}

.open-menu-button:is(:hover, :focus) .open-menu-icon {
  stroke: #061835;
}

.open-menu-button {
  width: 32px;
  height: 32px;
}

/* ------Mobile menu------- */

.burger-container {
  background-color: var(--color-white);
  width: 100vw;
  height: 100vh;
  transform: translateX(-100%);
  z-index: 999;
  top: 0;
  left: 0;
  transition: transform 0.25s ease-in-out;
  position: fixed;
  overflow: scroll;
}

.burger-content {
  padding: 28px 16px;
  background-color: var(--color-light-blue);
}

.burger-container.is-open {
  transform: translate(0);
}

.burger-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--container-width);
  margin: 0 auto;
}

.toggle-close {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  stroke: var(--color-blue);
  transition-property: stroke, background-color;
  transition-timing-function: var(--transition-function);
  transition-duration: var(--transition-time);
}

.toggle-close:focus {
  stroke: var(--color-white);
  background-color: var(--color-blue);
  outline: none;
}

.burger-nav {
  margin-top: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-menu-list {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.burger-menu-item {
  position: relative;
}

.burger-menu-link:after {
  content: '';
  position: absolute;
}

.burger-menu-link:is(:hover, :focus):after {
  left: 0;
  width: 100%;
  border-radius: 2px;
  background-color: var(--color-blue);
  transition: 0.25s ease-in-out;
  height: 3px;
  bottom: -2px;
}

/* ----------Tablet---------- */
@media (min-width: 768px) {
  .burger-nav {
    margin-top: 158px;
  }

  .burger-menu-list {
    gap: 30px;
    font-size: 18px;
  }

  .header,
  .burger-content {
    padding: 28px 0 27px;
  }

  .header-logo,
  .burger-header-logo-icon,
  .burger-header-logo {
    width: 127px;
    height: 16px;
  }

  .open-menu-button,
  .open-menu-icon,
  .toggle-close-icon,
  .toggle-close {
    width: 40px;
    height: 40px;
  }
}

/* --------------Desktop----------- */

@media screen and (min-width: 1440px) {
  .header {
    padding: 34px 0;
  }

  .header-navigation-menu {
    display: flex;
    gap: 30px;
  }

  .header-navigation-link {
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    transition: color var(--transition-time) var(--transition-function);
    padding: 34px 0;
  }

  .header-navigation-link:hover,
  .header-navigation-link:focus {
    color: #061835;
  }

  .header-logo {
    height: 16px;
  }

  .open-menu-button {
    display: none;
  }

  .open-menu-button {
    transition: fill var(--transition-time) var(--transition-function);
  }
}