/*? ------------------------------- Hero ------------------------------- */

.hero {
  padding-top: 140px;
  height: 717px;
  background-color: var(--color-white);
  background: url(./../images/hero/hero-1-mobile.jpg) center center/100% 100% no-repeat;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background: url(./../images/hero/hero-1-mobile-2x.jpg) center center/100% 100% no-repeat;
  }
}

.main__title {
  width: 285px;

  font-family: var(--hero-font);
  font-size: 28px;
  font-weight: 400;

  text-transform: uppercase;
}

.hero__content {
  margin-top: 14px;
}

.hero__text {
  margin-bottom: 28px;
}

.hero__btn {
  display: block;
  width: 224px;
  padding: 12px 65px;

  text-align: center;

  background-color: var(--color-blue);
  color: var(--color-white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: #061835;
}

.hero__btn:active {
  background-color: #061835;
}

/*? ------------------------ MEDIA ------------------------ */

/* Mobile */
@media screen and (min-width: 375px) {
  .hero {
    max-width: 375px;
    margin: 0 auto;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .hero {
    max-width: 100%;
    padding-top: 61px;
    height: 100%;
    background: none;
    background-color: #fff;
  }

  .main__title {
    width: 648px;
    font-size: 50px;
  }

  .hero__content {
    margin-top: 32px;
  }

  .hero__text {
    width: 312px;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .hero__btn {
    font-size: 18px;
    line-height: 1.3;
    padding: 17px 65px;
  }

  .hero__decor {
    height: 530px;

    background: url('./../images/hero/hero-1-tablet.jpg') 0 100% / auto auto no-repeat,
      url('./../images/hero/hero-2-tablet.jpg') 100% 0 / auto auto no-repeat;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero__decor {
      height: 530px;
      background: url('./../images/hero/hero-1-tablet-2x.jpg') 0 100% / 308px auto no-repeat,
        url('./../images/hero/hero-2-tablet-2x.jpg') 100% 0 / 367px auto no-repeat;
    }
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 64px;
  }

  .hero-container {
    display: flex;
    gap: 25px;
  }

  .hero__decor {
    height: 530px;
    width: 983px;
    background: url('./../images/hero/hero-1-desktop.jpg') 0 100% / 310px auto no-repeat,
      url('./../images/hero/hero-2-desktop.jpg') 335px 0 / 648px auto no-repeat;
  }

  .hero__content {
    margin-top: 0;
    width: 312px;
    background-image: url('./../images/hero/hero-3-desktop.jpg');
    background-repeat: no-repeat;
    background-size: 337px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero__decor {
      background: url('./../images/hero/hero-1-desktop-2x.jpg') 0 100% / 310px auto no-repeat,
        url('./../images/hero/hero-2-desktop-2x.jpg') 335px 0 / 648px auto no-repeat;
    }

    .hero__content {
      background-image: url('./../images/hero/hero-3-desktop-2x.jpg');
    }
  }

  .hero__text {
    margin-bottom: 30px;
  }
}