/*? ------------------------------- Our Products ------------------------------- */

.product-section {
    padding-top: 64px;
}

.product-title {
    margin-bottom: 33px;
    text-align: center;
    font-weight: 400;
}

.products-list {
    display: flex;
    gap: 24px;
}

.product-item {
    overflow: hidden;
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}

.product-item:nth-child(n+2) {
    display: none;
}

.product-name-container {
    padding: 16px 0;
}

.product-name {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

/* Tablet */
@media screen and (min-width: 768px) {
    .product-section {
        padding-top: 100px;
    }

    .product-title {
        margin-bottom: 30px;
    }

    .products-list {
        gap: 16px;
    }

    .product-item {
        width: calc((100% - 16px) / 2);
    }

    .product-name-container {
        padding: 15px 0;
    }

    .product-name {
        font-size: 18px;
    }

    .product-item:nth-child(2) {
        display: block;
    }
}

/* Desktop */
@media screen and (min-width: 1440px) {

    .products-list {
        gap: 24px;
    }

    .product-item {
        width: calc((100% - 24px * 3) / 4);
    }

    .product-item:nth-child(n) {
        display: block;
    }
}