/*? ------------------------------- Subscribe ------------------------------- */
.subscribe{
    padding: 64px 0;
    
}
.title-subscribe{
        color: var(--color-blue);
        font-family: var(--main-font);
        font-size: 28px;
        font-weight: 400;
        line-height: 1.5;     
        text-transform: uppercase;      
        margin-bottom: 20px;
            text-align: center;
}
.modal-described{
    color: var(--color-blue);
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 30px;
        
}
.container-button-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.data-form-container{
    margin-bottom: 20px;
}
.data-email-container{
    margin: 0;
}
.data-email-container{
    margin-bottom: 20px;
}

.intup-modal{
    padding: 11px 20px;
    border: 1px solid #B6B6B6;
    width: 100%;
    height: 50px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked+.data-label>.modal-span {
    background-color: #0A224A;
    border: none;
    fill: transparent;
    stroke: #ffffff;
    border-color: #0A224A;
}

.data-label {
         color: #7A7A7A;
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
       
}
.intup-modal:invalid:not(:placeholder-shown)+.icon {
    stroke: red;
}
.button-modal{
  padding: 17px 65px;
  background-color: #0A224A;
    color: #ffffff;
    min-width: 224px;
    min-height: 50px;
    color: #fff;
        font-family: var(--main-font);
        font-size: 16px;     
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 30px;

}
.icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    fill: transparent;
}
.wrapper{
    position: relative;
    max-width: 536px;
  
}
.data-form{
    margin-bottom: 32px;
}
.intup-modal::placeholder{
    color: #D9D9D9;
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
}
.intup-modal:hover::placeholder
{
    color: #0A224A;
    transition: color var(--transition-time), var(--transition-function);
}

.intup-modal:hover{
    border-color: #0A224A;
}
.container-img{

        position: none;
        bottom: 0;
        right: 0;
    
}

.intup-modal:hover {


    border-color: #0A224A;

}
.intup-modal:invalid:not(:placeholder-shown) {
    border: 1px solid #E74A3B;
    outline: transparent;
    color: red;
}
.intup-modal:invalid:not(:placeholder-shown)+.icon {
    fill: red;
}
.intup-modal:invalid:not(:placeholder-shown)+.icon {
    stroke: red;
}
.modal-span {
    width: 25px;
    height: 25px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

@media screen and (min-width: 768px){
    
    .subscribe{
        
        padding: 100px 0;
       
    }
        
    .data-label{
          
                
                font-size: 18px;
                
    }
    .title-subscribe{
        text-align: start;
        font-size: 32px;
            font-weight: 400;
            line-height: 1.46;
            text-transform: uppercase;
            margin-bottom: 30px;
            
    }
    .data-form-container{
        margin-bottom: 20px;
    }
    .modal-described{
         font-size: 18px;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 20px;
            width: 536px;
    }
   .intup-modal{
    width: 536px;
   }
   .intup-modal::placeholder {
       color: #D9D9D9;
       font-size: 18px;
      
   }
        .button-modal {
            margin-bottom: 64px;
        }
                  

}
@media screen and (min-width: 1440px){
    .subscribe{
        position: relative;
    }
    .container-img {
            position: absolute;
            bottom: 20%;
            right: 18%;
        }
    
.title-subscribe{
       
        font-size: 32px;
        line-height: 1.4;
        margin-bottom: 31px;
     
        
}
  .modal-described{
   
     margin-bottom: 21px;
        
        
  }
   .data-form-container{
    margin-bottom: 21px;
   
   }
   .button-modal{
    width: 224px;
   }
     
}