/*? ------------------------------- Subscribe ------------------------------- */
.subscribe{
    padding: 64px 0;
}
.title-subscribe{
        color: var(--color-blue);
        font-family: var(--main-font);
        font-size: 28px;
        font-weight: 400;
        line-height: 1.5;     
        text-transform: uppercase;      
        margin-bottom: 20px;
            text-align: center;
}
.modal-described{
    color: var(--color-blue);
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 30px;
        
}
.container-button-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.data-form-container{
    margin-bottom: 20px;
}
.data-email-container{
    margin: 0;
}
.data-email-container{
    margin-bottom: 20px;
}

.intup-modal{
    color:  #D9D9D9;
    font-family: var(--main-font);
    font-size: 16px; 
    font-weight: 400;
    line-height: 1.5;
    padding: 11px 20px;
    border: 1px solid #B6B6B6;
    width: 100%;
    height: 50px;
}
.input-check:checked+.data-label>.modal-span {
    background-color: #0A224A;
    border: none;
    fill: transparent;
    color: white;
    border-color: #0A224A;
}

.data-label {
         color: #7A7A7A;
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
       
}
.button-modal{
  padding: 17px 65px;
  background-color: #0A224A;
    color: #ffffff;
    min-width: 224px;
    min-height: 50px;
    color: #fff;
        font-family: var(--main-font);
        font-size: 16px;     
        font-weight: 400;
        line-height: 1.5;


}
.data-form{
    margin-bottom: 32px;
}
.intup-modal::placeholder{
    color: #D9D9D9;
}
.intup-modal:invalid:not(:placeholder-shown) {
    border: 2px solid red;
    outline: transparent;
    color: red;
}

.intup-modal:valid:not(:placeholder-shown) {
    border: 2px solid green;
    outline: transparent;
    color: green;
}
.modal-span {
    width: 25px;
    height: 25px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}