<section class="about-us" id="about-us">
  <div class="container about-us-container">
    <div class="about-us-wrapper">
      <h2 class="about-us-title">About us</h2>

      <p class="section-title about-us-section-title">
        Our craftsmanship: creating unique handmade furniture
      </p>

      <p class="about-us-text">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>

      <ul class="about-us-advantages">
        <li class="about-us-advantage-item">
          <span class="about-us-numbers">5+</span>
          <p class="about-us-advantage-text">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="about-us-advantage-item">
          <span class="about-us-numbers">100%</span>
          <p class="about-us-advantage-text">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="about-us-advantage-item">
          <span class="about-us-numbers">500+</span>
          <p class="about-us-advantage-text">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>
    <picture>
      <source
        srcset="
          ./images/about-us/about-us-desktop.jpg    1x,
          ./images/about-us/about-us-desktop-2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./images/about-us/about-us-tablet.jpg    1x,
          ./images/about-us/about-us-tablet-2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/about-us/about-us-mobile.jpg    1x,
          ./images/about-us/about-us-mobile-2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./images/about-us/about-us-desktop-2x.jpg"
        alt="sofa in the room"
        width="704"
        class="about-us-image"
      />
    </picture>
  </div>
</section>
