<section class="bestsellers">
  <div class="secondary-container">
    <div class="bestsellers-title">Bestsellers</div>
    <ul class="bestseller-list">
      <li class="bestsellers-card">
        <img
          class="product"
          src="./images/bestsellers/bestseller-1-mobile.jpg"
          srcset="
            ./images/bestsellers/bestseller-1-mobile.jpg    1x,
            ./images/bestsellers/bestseller-1-mobile-2x.jpg 2x
          "
          alt="The modern platform bed"
          width="343"
          height="193"
        />
        <div class="bestsellers-txt">The modern platform bed</div>
        <div class="bestsellers-price">750$</div>
      </li>
      <li class="bestsellers-card">
        <img
          class="product"
          src="./images/bestsellers/bestseller-2-mobile.jpg"
          srcset="
            ./images/bestsellers/bestseller-2-mobile.jpg    1x,
            ./images/bestsellers/bestseller-2-mobile-2x.jpg 2x
          "
          alt="The Cozy Lounge Chair"
          width="343"
          height="193"
        />
        <div class="bestsellers-txt">The Cozy Lounge Chair</div>
        <div class="bestsellers-price">230$</div>
      </li>
      <li class="bestsellers-card">
        <img
          class="product"
          src="./images/bestsellers/bestseller-3-mobile.jpg"
          srcset="
            ./images/bestsellers/bestseller-3-mobile.jpg    1x,
            ./images/bestsellers/bestseller-3-mobile-2x.jpg 2x
          "
          alt="The industrial accent chair"
          width="343"
          height="193"
        />
        <div class="bestsellers-txt">The industrial accent chair</div>
        <div class="bestsellers-price">250$</div>
      </li>
    </ul>
  </div>
</section>
