<section class="clients-reviews" id="clients-reviews">
  <div class="container clients-reviews-container">
    <h2 class="section-title reviews-title">Clients reviews</h2>
    <ul class="reviews-block">
      <li class="client-block">
        <picture>
          <source
            srcset="
              ./images/clients-reviews/alexandra.jpg    1x,
              ./images/clients-reviews/alexandra-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/clients-reviews/alexandra.jpg    1x,
              ./images/clients-reviews/alexandra-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/clients-reviews/alexandra.jpg    1x,
              ./images/clients-reviews/alexandra-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/clients-reviews/alexandra-2x.jpg"
            alt="Client 1"
            class="client-img"
            width="48"
            height="48"
          />
        </picture>
        <div class="review-info">
          <h3 class="client-name">Alexandra dream</h3>
          <p class="client-week-age">1 week ago</p>
        </div>
        <p class="reviews-comment">
          I was blown away by the quality and craftsmanship of the furniture I
          received from this company. Each piece was unique and beautifully
          designed, and you can tell that a lot of thought and care goes into
          every detail.
        </p>
      </li>

      <li class="client-block">
        <picture>
          <source
            srcset="
              ./images/clients-reviews/james.jpg    1x,
              ./images/clients-reviews/james-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/clients-reviews/james.jpg    1x,
              ./images/clients-reviews/james-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/clients-reviews/james.jpg    1x,
              ./images/clients-reviews/james-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/clients-reviews/james-2x.jpg"
            srcset="
              ./images/clients-reviews/james.jpg    1x,
              ./images/clients-reviews/james-2x.jpg 2x
            "
            alt="Client 2"
            class="client-img"
            width="48"
            height="48"
          />
        </picture>
        <div class="review-info">
          <h3 class="client-name">James Williams</h3>
          <p class="client-week-age">A week ago</p>
        </div>
        <p class="reviews-comment">
          The "Minimal" furniture set is a fantastic addition to my home. It
          boasts a minimalist design, enhancing the feel and look of my living
          space. The sturdy construction is worth noting too, which speaks
          volumes about its durability.
        </p>
      </li>

      <li class="client-block">
        <picture>
          <source
            srcset="
              ./images/clients-reviews/emily.jpg    1x,
              ./images/clients-reviews/emily-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/clients-reviews/emily.jpg    1x,
              ./images/clients-reviews/emily-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/clients-reviews/emily.jpg    1x,
              ./images/clients-reviews/emily-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/clients-reviews/emily-2x.jpg"
            alt="Client 3"
            class="client-img"
            width="48"
            height="48"
          />
        </picture>
        <div class="review-info">
          <h3 class="client-name">Emily Watson</h3>
          <p class="client-week-age">3 week ago</p>
        </div>
        <p class="reviews-comment">
          The "Minimal" furniture set has far exceeded my expectations. The
          sleek design combined with the high-quality materials have not only
          added an exceptional aesthetic to my space but also offered an
          uncompromising standard of comfort.
        </p>
      </li>
    </ul>
  </div>
</section>
