<footer class="footer">
  <div class="container">
    <div class="footer-whole-content">
      <div class="footer-first-block">
        <div class="footer-logo">
          <a class="footer-logo-link" href="./index.html">
            <svg class="footer-logo-svg" width="100" height="16">
              <use href="./images/icons.svg#icon-logo"></use>
            </svg>
          </a>
        </div>

        <div class="footer-nav-list">
          <nav class="footer-navigation f-list">
            <ul class="footer-menu f-list">
              <li class="footer-menu-item">
                <a class="footer-menu-link f-link" href="#about-us">About us</a>
              </li>
              <li class="footer-menu-item">
                <a class="footer-menu-link f-link" href="#our-products"
                  >Our products</a
                >
              </li>
              <li class="footer-menu-item">
                <a class="footer-menu-link f-link" href="#price">Prices</a>
              </li>
              <li class="footer-menu-item">
                <a class="footer-menu-link f-link" href="#bestsellers"
                  >Bestsellers</a
                >
              </li>
              <li class="footer-menu-item">
                <a class="footer-menu-link f-link" href="#clients-reviews"
                  >Reviews</a
                >
              </li>
            </ul>
          </nav>
        </div>

        <address class="footer-address-info">
          <ul class="footer-address-list">
            <li class="footer-address-link">
              <a
                class="footer-address-item f-link"
                href="https://www.google.com/maps/search/Obolonsky+Prospect,+14,+Kyiv/@50.5314704,30.337232,12z/data=!3m1!4b1?entry=ttu"
                >Obolonsky Prospect, 14, Kyiv</a
              >
            </li>
            <li class="footer-time-detail">Daily 10:00-21:00</li>
          </ul>
        </address>

        <address class="footer-contacts-info">
          <ul class="footer-contacts-list f-list">
            <li class="footer-contacts-item">
              <a class="footer-contacts-item f-link" href="tel:+380669384758"
                >+380669384758</a
              >
            </li>
            <li class="footer-contacts-item">
              <a class="footer-contacts-item f-link" href="tel:+380669384758"
                >+380669384758</a
              >
            </li>
            <li class="footer-contacts-item footer-contacts-email">
              <a
                class="footer-contacts-email f-link"
                href="mailto:minimal.furniture@gmail.com"
                >minimal.furniture@gmail.com</a
              >
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-media">
        <ul class="footer-block-container">
          <li class="footer-block">
            <a
              class="footer-block-link f-link"
              href="https://www.facebook.com"
              aria-label="facebook"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-icon" width="28" height="28">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-block">
            <a
              class="footer-block-link f-link"
              href="https://www.instagram.com"
              aria-label="instagram"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-icon" width="28" height="28">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-block">
            <a
              class="footer-block-link f-link"
              href="https://www.youtube.com"
              aria-label="youtube"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-icon" width="28" height="28">
                <use href="./images/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer-privacy">
      By using this website, you agree to the
      <a href="#" class="terms-privacy-link">Terms of Service</a> and
      <a href="#" class="terms-privacy-link">Privacy Policy</a>
    </p>
  </div>
</footer>
