<header class="header">
  <div class="container">
    <nav class="header-navigation">
      <a class="header-logo" href="./index.html">
        <svg class="header-logo" width="100" height="16">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="header-navigation-menu">
        <li>
          <a class="header-navigation-link" href="#about-us">About us</a>
        </li>
        <li> 
          <a class="header-navigation-link" href="#our-products">Our products</a>
        </li>
        <li>
          <a class="header-navigation-link" href="#price">Prices</a>
        </li>
        <li>
          <a class="header-navigation-link" href="#bestsellers">Bestsellers</a>
        </li>
        <li>
          <a class="header-navigation-link" href="#clients-reviews">Reviews</a>
        </li>
        <li>
          <a class="header-navigation-link" href="#subscribe-section">Contacts</a>
        </li>
      </ul>

      <button
        type="button"
        class="open-menu-button js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="open-menu-icon" width="32" height="32">
          <use href="./images/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>

    <div class="burger-container js-menu-container" id="mobile-menu">
      <div class="burger-content">
        <div class="burger-header">
          <a href="#" class="logo">
            <svg width="inherit" height="inherit">
              <use href="./images/icons.svg#icon-logo"></use></svg>
          </a>
          <button type="button" class="toggle-close js-close-menu">
            <svg fill="none" width="inhetit" height="inherit">
              <use href="./images/icons.svg#icon-x-close"></use>
            </svg>
          </button>
        </div>
      </div>
  
      <div class="burger-nav">
        <nav class="burger-nav-menu">
          <ul class="list">
            <li class="link-line">
              <a class="link js-close-menu pages" href="#about">About us</a>
            </li>
            <li class="link-line">
              <a class="link js-close-menu pages" href="#products">Our products</a>
            </li>
            <li class="link-line">
              <a class="link js-close-menu pages" href="#prices">Prices</a>
            </li>
            <li class="link-line">
              <a class="link js-close-menu pages" href="#bestsellers">Bestsellers</a>
            </li>
            <li class="llink-line">
              <a class="link js-close-menu pages" href="#reviews">Reviews</a>
            </li>
            <li class="link-line">
              <a class="link js-close-menu pages" href="#contacts">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
  </div>
</header>
