<header class="header">
  <div class="container">Header</div>
  <nav class="navigation">
    <a href="./index.html" class="logo link logo-head">
      <svg class="team-soc-icon" width="127" height="16">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <ul class="navigation-list">
      <li class="navigation-item">
        <a href="" class="navigation-link">About us</a>
      </li>
      <li class="navigation-item">
        <a href="" class="navigation-link">Our prodacts</a>
      </li>
      <li class="navigation-item">
        <a href="" class="navigation-link">Prices</a>
      </li>
      <li class="navigation-item">
        Bestsellers<a href="" class="navigation-link">Bestsellers</a>
      </li>
      <li class="navigation-item">
        <a href="" class="navigation-link">Reviews</a>
      </li>
      <li class="navigation-item">
        <a href="" class="navigation-link">Contacts </a>
      </li>
    </ul>
  </nav>
</header>
