<header class="top-line">
  <div class="container header-container">
    <nav class="nav-main">
      <a class="top-line-logo" href="">
        <svg class="header-logo" width="32" height="32">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="top-line-nav">
        <li>
          <a class="project-link first-child" href="#about-us">About us</a>
        </li>
        <li>
          <a class="project-link second-child" href="#out-products"
            >Our products</a
          >
        </li>
        <li>
          <a class="project-link" href="#prices">Prices</a>
        </li>
        <li>
          <a class="project-link" href="#bestsellers">Bestsellers</a>
        </li>
        <li>
          <a class="project-link" href="#bestsellers">Bestsellers</a>
        </li>
        <li>
          <a class="project-link" href="#bestsellers">Reviews</a>
        </li>
        <li>
          <a class="project-link last-child" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="mod-open-btn" data-modal-open>
      <svg class="shop-bag" width="32" height="32">
        <use href="./iages/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <button class="mob-menu-btn" type="button" data-menu-open>
      <svg class="burger" width="32" height="32">
        <use href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>
  </div>
</header>
