/*? Defaults */
@import '../../node_modules/modern-normalize/modern-normalize.css';
@import url('./reset.css');

/*? Fonts */
@import url('./fonts.css');

/*? Global Variables */
@import url('./variables.css');

/*? Default styles */
@import url('./defaults.css');

/*? Slider */
@import 'swiper/css/bundle';

/*? Header */
@import url('./sections/header.css');

/*? Main */
@import url('./sections/hero.css');
@import url('./sections/about-us.css');
@import url('./sections/price.css');
@import url('./sections/our-products.css');
@import url('./sections/bestsellers.css');
@import url('./sections/clients-reviews.css');
@import url('./sections/subscribe.css');

/*? Footer */
@import url('./sections/footer.css');

.swiper-pagination {
    position: static;
}

/*? Go Up Button */

.go-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    width: 80px;
    height: 90px;
    z-index: 4;
    transition: width var(--transition-time) var(--transition-function);
}

.go-top:is(:hover, :focus) {
    width: 90px;
}

.go-up-icon {
    width: 100%;
    height: 100%;
}